body {background-image:url('bintang.jpg');}
h1 {text-shadow: 2px 2px #3399FF;}
p class="dashed" style="color:white;"> 

h2{text-shadow: 2px 2px #3399FF;}
p class="dashed" style="color:white;"> 
