body {background-image:url('bintang.jpg');
background-size:cover;
background-attachment: fixed;}

h1 { 
 style="background-color: blue;"
 color: white;
 text-align:center;
 
text-shadow: 2px 2px #3399FF; 
text-align:center
}

p { 
 color: white;
 text-align:center;
 font-family: verdana;
 font-size: 20px;

}

h2{text-shadow: 2px 2px #3399FF;
text-align:center;
 text-color: white; 
}
